$max: 766px;
// $blue: rgb(83, 157, 192);
$blue: #2b88b4;
$orange: #f7941f;

section {
  background: #dd5775;
}
.banner {
  height: 100vh;
  width: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
